html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: #278AFF;
}

body {
    font-family: sans-serif;
}

.container {
    max-width: 1110px;
    margin: auto;
}

.header {
    background: #F8F6F7;
    overflow: hidden;
}

.header .container {
    position: relative;
    padding: 30px 0 130px;
}

.header-top {
    margin-bottom: 120px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

a.logo {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation li:not(:last-child) {
    margin-right: 10px;
}

.phone-info {
    text-align: right;
}

.square {
    width: 200px;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #ccc;
    position: fixed;
    transition: .3s right;
}

.square.opened {
    right: 0;
}

.header-top,
.header-hero {
    z-index: 1;
    position: relative;
}

.girl {
    position: absolute;
    bottom: 0;
    right: 60px;
    z-index: 0;
}

.girl:hover:before {
    transform: scale(1.05);
}

.girl:before {
    content: '';
    width: 472px;
    height: 472px;
    border-radius: 50%;
    background-color: #FB9475;
    position: absolute;
    bottom: -110px;
    right: 0;
    transition: .3s transform;
}

.girl img {
    display: block;
    position: relative;
}

.first,
.last {
    height: 100px;
}

.first {
    background-color: green;
    margin-bottom: 50px;
}

.last {
    background-color: gray;
    padding-top: 50px;
}

.last .elem {
}